.todo-list {
/*	border: 1px solid #011829;*/
	border-radius: 0.2rem;
/*	box-shadow: 1px 1px 1px #011829;*/
/*	background-color: rgba(27, 156, 252, 0.7);*/
	background-color: rgba(255,255,255, 0.2);
	margin: 0.2rem 0rem;
	padding: 0.2rem;
	display: flex;
	flex-direction: column;
}

.todo-form {
/*	border: 1px solid #011829;*/
	border-radius: 0.2rem;
	box-shadow: 1px 1px 1px #011829;
	background-color: #90cffe;
	margin: 0.2rem 0.4rem;
	padding: 0.1rem;
	display: flex;
}
/*#90cffe  #1B9CFC  */
.todo-input {
	font-size: 0.8rem;
	border-radius: 0.2rem;
	background-color: #90cffe;
	padding: 0 0.5rem;
	flex-grow: 1;

}

.todo-input::placeholder {
	color: #4f74d4;
}

.todo-item {
/*	border: 1px solid #011829;*/
	font-size: 0.8rem;
	border-radius: 0.2rem;
	background-color: rgba(130, 88, 159, 0.7);
	box-shadow: 1px 1px 1px #011829;
	margin: 0.2rem 0.4rem;
	padding: 0.1rem;
	display: flex;
}

.todo-item-text {
	flex-grow: 1;
	padding: 0 0.5rem;
}