.todo-list {
  border-radius: 0.2rem;
  margin: 0.2rem 0rem;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
}

.todo-form {
  border-radius: 0.2rem;
  box-shadow: 1px 1px 1px #2a333c;
  background-color: #2a333c;
  margin: 0.2rem 0.2rem;
  padding: 0.1rem;
  display: flex;
}

.todo-input {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.7rem;
  border-radius: 0.2rem;
  background-color: #88b04b;
  padding: 0 0.5rem;
  flex-grow: 1;
}

.todo-input:focus {
  background: #5a7432;
}

.todo-input::placeholder {
  color: #2a333c;
  text-align: center;
}

.todo-item {
  font-size: 0.7rem;
  border-radius: 0.2rem;
  background-color: rgba(245, 246, 247, 0.4);
  box-shadow: 1px 1px 1px #2a333c;
  margin: 0.2rem 0.2rem;
  padding: 0.1rem;
  display: flex;
}

.todo-item-text {
  flex-grow: 1;
  padding: 0 0.5rem;
}
