.App-header {
  padding: 0.1rem 0;
  background-color: #2a333c;
}


.App-header h2 {
  font-size: 0.8rem;
  margin: 0.1rem 0;
  text-align: center;
  word-spacing: 0.2rem;
  letter-spacing: 0.1rem;
  color: #f5f6f7;
  text-shadow: 1px 1px 1px #000;
}
