
.btn {
	border-radius: 0.2rem;
	background: #efc771;
	padding: 0 0.3rem;
	font-size: 1.2rem;
}

.btn:hover {
	background: #eab543;
}

.btn-add {
	color: #008000;
}

.btn-delete {
	 color: #ff0000;
}

	